.navBar {
    background-color: $color-black;
    padding: 1rem 0;
    
    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        align-items: center;
    }
    &__col {
        width: 50%;
        text-align: center;
        &:first-child {
            text-align: left;
        }
        &:last-child {
            display: none;
            @include media('lg') {
                display: block;
            }
        }
    }
    &__logo {
        width: 200px;
    }
    &__nav {
        @include reset-list;  
        display: flex;
        justify-content: space-between;

        &__item {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
            a {
                @include link {
                    color: $color-white;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                @include hover {
                    color: darken($color-white, 15%);
                }
            }
        }
    }
}